.empanadas {
    margin-top: 50px;
    margin-left: 50px;
}
.titel {
    margin-left: 650px;
    margin-top: -400px;
    font-family: $fontPoent;
    font-size: 25px;
}
.texto {
    margin-left: 650px;
}
.vinito {
    width: 500px;
    margin-top: 400px;
    margin-left: 800px;
}

.regalo {
    font-size: 25px;
    font-family: $fontPoent;
    margin-left: 200px;
    margin-top: -400px;
} 

.texto2 {
    margin-left: 200px;
    font-family: $fontZilla;
}

.rica {
    margin-top: 300px;
}

.blum {
    margin-left: 600px;
    margin-top: -350px;
    font-size: 25px;
    font-family: $fontPoent;
}

.blumcalse {
    margin-left: 600px
}