
.titulo1 {
    margin-left: 450px;
    font-size: 30px;
    font-family: $fontPoent;
}

.titulo5{
    font-family: $fontPoent;
    margin-top: 50px;
}

.titulo2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 00px;
    margin-top: 50px;
    font-family: $fontPoent;
}
.roj {
    background-color: rgb(255, 136, 0);
    padding: 10px;
    padding-left: 50px;
    padding-right: 70px;
    text-decoration: none;
    color: white;
}

.tortutas {
    margin-left: 500px;
    font-size: 40px;
    font-family:"ZillaSlab" ;
}